<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    {% block title %}
    <title>{% block subtitle %}{% endblock subtitle %}Noticias. Django CBV Example</title>
    {% endblock title %}

    <link href="{{STATIC_URL}}adm/jquery-ui-1.9.1.custom/css/smoothness/jquery-ui-1.9.1.custom.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}css/DT_bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}css/main.css" rel="stylesheet" type="text/css" />


    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}jquery-ui-1.9.1.custom/js/jquery-ui-1.9.1.custom.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/bootbox.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/DT_bootstrap.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/django_ajax.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/main.js"></script>

</head>
<body>

{% include "noticias/navigation.html" %}

{% block main_content %}
{% endblock main_content %}

<debug></debug>
</body>
</html>